<div class="py-5 text-center hp-bg" >
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-3 mb-4 text-dark">
          <b>Smart Health Care
            <br>Patient Management</b>
        </h1>
        <p class="lead mb-5 text-secondary">
          <b>The Smart Health Care Patient management web application for Medical professionals to mange&nbsp;
            <br>their patient data and history.</b>
        </p>
        <!-- <a href="#" class="btn btn-lg mx-1 btn-secondary">Sign In</a> -->
        <%= link_to 'Patients', patients_path, class: "btn btn-lg mx-1 btn-primary" %>
        <%= link_to 'Doctors', doctors_path, class: "btn btn-lg mx-1 btn-primary" %>
        <%= link_to 'Clinics', clinics_path, class: "btn btn-lg mx-1 btn-primary" %>
        <%= link_to 'Hospitals', hospitals_path, class: "btn btn-lg mx-1 btn-primary" %>
        <br>
        <br>
        <%= link_to 'Reports', reports_generate_path, class: "btn btn-lg mx-1 btn-primary" %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-lg mx-1 btn-secondary" %>
      </div>
    </div>
  </div>
</div>
