<p id="notice"><%= notice %></p>

<p>
  <strong>Patient name:</strong>
  <%= @patient.patient_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @patient.phone_no %>
</p>

<p>
  <strong>Special observation:</strong>
  <%= @patient.special_observation %>
</p>

<h2>Checkups</h2>
<% @patient.checkups.each do |checkup| %>
<p>
<b>Checkup details:</b>
<%= checkup.details %>
</p>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
<%= link_to 'Show Checkups', patient_checkups_path(@patient) %>
