<%= form_for([@patient, @checkup]) do |f| %>
<% if @checkup.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@checkup.errors.count, "error")%>
prohibited this checkup from being saved:</h2>
<ul>
<% @checkup.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="field">
<p>
<%= f.label :Summary %><br />
<%= f.text_field :summary %>
</p>
</div>
<div class="actions">
<%= f.submit %>
</div>
<% end %>
